[Unit]
Description=Set static AP address for Pi RNS Traveller
After=network.target
Wants=network.target
Before=hostapd.service dnsmasq.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart={{IP_BIN}} link set {{AP_IFACE}} up
ExecStart={{IP_BIN}} addr replace {{AP_CIDR}} dev {{AP_IFACE}}
ExecStop={{IP_BIN}} addr flush dev {{AP_IFACE}}

[Install]
WantedBy=multi-user.target
